{% extends 'blog/base.html' %}
{% load static %}
{% block content %}


<div class="container" style="height: 100vh;">
    <div class="text-center col-sm-10">
        <h3 class=" my-5">Top 10 Technology for Farming</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore officiis repellat illo eos magnam dignissimos, obcaecati, perspiciatis repellendus distinctio, dolorum voluptas sequi eligendi. Adipisci iure illo ipsam ullam illum facere.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam magni reprehenderit nesciunt ipsa voluptas cumque voluptate earum? Commodi neque animi odio voluptatibus recusandae delectus dolor. Excepturi obcaecati ea unde ab architecto dolor facilis eligendi, porro perspiciatis laboriosam natus consectetur tenetur nam fugit, quibusdam labore nemo? Dolorum magni tenetur rem voluptate?</p>
    </div>
</div>



{% endblock content %}