{% load static %}
<div class="container">
    <div class="row justify-content-center d-flex">
        <h1 class="text-center text-primary"><u>Flower Farming</u> </h1>
        <!-- <img class="img-fluid w-50 py-5" src="{% static 'img/o1.png' %}" alt=""> -->
    </div>

    <!-- 
    <div class="row justify-content-center d-flex">
        <h1 class="text-center py-5 text-primary"><u>Advantages of Organic Farming</u> </h1>
        <img class="img-fluid w-50" src="{% static 'img/o2.jpg' %}" alt="">
        <p> <b>Economical:</b> In organic farming, no expensive fertilisers, pesticides, or HYV seeds are required for the plantation of crops. Therefore, there is no extra expense.

            <br><b>Good return on Investment:</b> With the usage of cheaper and local inputs, a farmer can make a good return on investment.

            <br><b>High demand:</b> There is a huge demand for organic products in India and across the globe, which generates more income through export.

            <br><b>Nutritional:</b> As compared to chemical and fertiliser-utilised products, organic products are more nutritional, tasty, and good for health.

            <br><b>Environment-friendly:</b> The farming of organic products is free of chemicals and fertilisers, so it does not harm the environment.
        </p>
    </div> -->

</div>